.container {
  max-width: 1520px;
  margin-inline: auto;
  padding-inline: clamp(5vw, 8vw - 1rem, 3vw);
}

.flex {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}
.flex_one {
  flex: 1;
}
.flex_inline {
  display: flex;
  gap: 0.25rem;
  align-items: center;
}
.flex_column {
  display: flex;
  flex-direction: column;
}

a {
  position: relative;
}
a.is-active::after, a:hover::after {
  width: 100%;
  left: 0;
  right: auto;
}
a::after {
  content: "";
  position: absolute;
  bottom: 2px;
  background-color: hsla(100, 51%, 40%, 0.5);
  right: 0;
  width: 0;
  z-index: -1;
  height: 1px;
  right: 0;
  transition: 0.2s all ease-in-out;
}

.footer {
  background-image: linear-gradient(-20deg, hsla(147, 100%, 22%, 0.5) 30%, transparent 30%), linear-gradient(-110deg, hsla(72, 63%, 45%, 0.75) 30%, transparent 30%);
  background-color: hsl(100, 51%, 40%);
  color: #fff;
  font-size: 1.25em;
  -webkit-clip-path: polygon(50% 0, 100% 12%, 100% 100%, 0 100%, 0 12%);
  clip-path: polygon(50% 0, 100% 12%, 100% 100%, 0 100%, 0 12%);
  padding: 20vh 0 10vh;
  margin-top: -10vh;
}
.footer .container {
  gap: 1rem;
}
.footer small:not([class]) {
  display: block;
}
.footer_phone {
  align-items: flex-end;
}
.footer__contact a {
  color: white;
  display: inline-block;
}
.footer__contact a::after {
  z-index: 1;
  background-color: white;
}
.footer__menu li:last-child {
  margin-left: auto;
}
.footer__menu-link {
  color: white;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 80%;
}
.footer__menu-link::after {
  z-index: 1;
  background-color: white;
}
.footer__copyright {
  margin-top: clamp(1rem, -2rem + 5.3333vw, 2rem);
  text-align: center;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  padding-top: 1rem;
}

.header {
  box-shadow: 0 0.5625rem 1.125rem 0 rgba(0, 0, 0, 0.2);
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: white;
}
.header__container {
  justify-content: space-between;
  gap: 1rem;
  align-items: center;
  padding-inline: 1vw;
}
.header__menu {
  gap: 1rem;
}
@media (max-width: 1199px) {
  .header__menu {
    display: none;
  }
}
.header__menu-item {
  position: relative;
  padding-block: 1rem;
}
.header__menu-item.expanded:hover::after {
  opacity: 1;
}
.header__menu-item.expanded::after {
  content: "";
  width: 0;
  height: 0;
  border-top: 16px solid hsla(100, 51%, 40%, 0.5);
  position: absolute;
  z-index: 2;
  top: 100%;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}
.header__menu-s1 {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
  position: absolute;
  top: 100%;
  width: max-content;
  padding: 1rem;
  height: 250px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.header__menu-item:hover .header__menu-s1 {
  opacity: 1;
  visibility: visible;
}
.header__menu-s1::before {
  content: "";
  height: 250px;
  position: fixed;
  border-top: 1px solid hsla(100, 51%, 40%, 0.5);
  background-color: #e6f0e1;
  left: 0;
  right: 0;
  z-index: -1;
  margin-top: -1rem;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}
.header__menu-item:hover .header__menu-s1::before {
  opacity: 1;
}
.header__menu-s1::after {
  content: "";
  background-color: hsla(100, 51%, 40%, 0.5);
  width: 1px;
  height: 80%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}
.header__menu-item:hover .header__menu-s1::after {
  opacity: 1;
}
.header__menu-link {
  display: flex;
  padding: 0.5rem;
  line-height: 1;
  gap: 0.5rem;
  align-items: center;
  color: #007133;
}
.header__menu-link::before {
  content: "";
  width: 100%;
  height: 100%;
  left: 0;
  position: absolute;
  background-color: #e6f0e1;
  z-index: -1;
  border-radius: 0.5rem;
  opacity: 0;
  transition: 0.2s opacity ease-in-out;
}
.header__menu-item.active-trail .header__menu-link::before, .header__menu-item:hover .header__menu-link::before {
  opacity: 1;
}
.header__menu-link:not(.expanded)::after {
  content: none;
}
.expanded .header__menu-link::after {
  content: "";
  width: 8px;
  height: 8px;
  border-right: 1px solid #007133;
  border-bottom: 1px solid #007133;
  left: auto;
  position: relative;
  background-color: transparent;
  transform: rotate(45deg);
  transform-origin: center;
  transition: 0.3s transform ease-in-out;
}
.header__menu-item:hover .header__menu-link::after {
  width: 8px;
  transform: rotate(-135deg);
}
.header__menu-link-s1 {
  color: #579d34;
  font-size: 16px;
  padding: 0.25rem 0.5rem;
}
.header__buttons {
  gap: 1rem;
}
.header__buttons-link {
  border: 1px solid #007133;
  padding: 0.5rem 1rem;
  border-radius: 2rem;
  color: #007133;
  overflow: hidden;
  display: flex;
  font-size: 85%;
}
.header__buttons-link::after {
  height: 100%;
  top: 0;
  border-radius: 2rem;
}
.header__buttons-cta {
  color: white;
  transition: 0.25s border-color ease-in-out, 0.25s color ease-in-out;
}
.header__buttons-cta:hover {
  border-color: hsla(100, 51%, 40%, 0.5);
  color: #007133;
}
.header__buttons-cta:hover::after {
  transition: 0.25s background-color ease-in-out;
  background-color: hsla(100, 51%, 40%, 0.5);
}
.header__buttons-cta::after {
  background-color: #007133;
  width: 100%;
  left: 0;
  right: auto;
}
.header__burger {
  border: 0;
  background-color: #559b32;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 0.25rem;
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: 10px;
  text-transform: uppercase;
  justify-content: center;
  height: 3.25rem;
  width: 3.25rem;
}
.header__burger span span:last-child {
  display: none;
}
.body_burger .header__burger span span:last-child {
  display: block;
}
.body_burger .header__burger span span:first-child {
  display: none;
}
.burger .header_show {
  display: none;
}

.burger {
  position: fixed;
  background-color: hsla(100, 51%, 40%, 0.4);
  width: 100%;
  top: 0;
  z-index: 9;
  display: flex;
  justify-content: flex-end;
  height: 100vh;
  transform: translateX(100%);
  transition: transform 0.25s ease-in-out;
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
}
.burger_active {
  transform: translateX(0%);
}
.burger__container {
  background-color: hsl(147, 100%, 22%);
  flex-basis: clamp(38ch, 50%, 100%);
  padding-block: 10vw;
  padding-inline: 5vw;
  max-height: 100vh;
  overflow-y: auto;
}
.burger__menu {
  flex-flow: column wrap;
  gap: 1rem;
}
.burger__menu-s1 {
  margin-left: clamp(1rem, -2rem + 5.3333vw, 2rem);
}
.burger__menu-link {
  font-size: clamp(1.5rem, -0.75rem + 4vw, 2.25rem);
  font-family: "DM Serif Text", serif;
  color: wheat;
}
.burger__menu-link-s1 {
  font-size: clamp(0.75rem, -0.75rem + 2.6667vw, 1.25rem);
  color: white;
}
.burger__menu-link-s1::after {
  background-color: white;
  z-index: 0;
}
.burger__submenu {
  flex-flow: column wrap;
  gap: 0.5rem;
}
.burger__submenu-link {
  font-size: clamp(1rem, 0.0625rem + 1.6667vw, 1.3125rem);
  font-weight: 700;
  color: white;
}
.burger__submenu-link::after {
  z-index: 1;
  background-color: white;
}
.burger__submenu + .burger__submenu {
  margin-top: 0.5rem;
}
.burger small {
  display: block;
  color: white;
}
.burger hr {
  border-color: wheat;
  border-bottom: none;
  margin-block: 1rem;
}
.header .burger_show {
  display: none;
}

.banner {
  background-color: #f7f5f2;
  background-image: radial-gradient(#ccc 0.8px, transparent 0.8px), radial-gradient(#ccc 0.8px, #f7f5f2 0.8px);
  background-size: 32px 32px;
  background-position: 0 0, 16px 16px;
  padding-top: clamp(2rem, -4rem + 10.6667vw, 4rem);
  padding-bottom: clamp(3rem, -6rem + 16vw, 6rem);
}

.body {
  padding-top: clamp(1.5rem, -3rem + 8vw, 3rem);
  padding-bottom: clamp(5rem, -10rem + 26.6667vw, 10rem);
}

.title {
  font-size: clamp(1.6875rem, -4.5rem + 11vw, 3.75rem);
  line-height: 1.1;
  color: hsla(100, 51%, 40%, 0.9);
  font-family: "DM Serif Text", serif;
  font-weight: 400;
}

.tasks-items {
  justify-content: center;
  gap: 1rem;
}
.tasks-link {
  padding: 0.5rem;
  line-height: 1;
  background-color: green;
  color: wheat;
  display: inline-block;
  transition: 0.25s all;
}
.tasks-link.is-active {
  background-color: wheat;
  color: green;
}

/*# sourceMappingURL=styles.css.map */
