<footer class="footer">
    <div class="container flex_column">
      {{ drupal_menu('footer') }}
      <div class="footer__contact flex">
        <div class="footer_mail flex_one flex_column">
          <small class="flex_inline"><span class="material-symbols-outlined"></span> Correo Electrónico:</small>
          <a href="mailto:maria@munayco.consulting">maria@munayco.consulting</a>
        </div>
        <div class="footer_phone flex_one flex_column">
          <small class="flex_inline"><span class="material-symbols-outlined"></span> Teléfono:</small>
          <a href="tel:+51993917335">993917335</a>
        </div>
      </div>
      <div class="footer__copyright">
        {% include "@akw/elements/copyright.html.twig" ignore missing %}
      </div>
    </div>
  </footer>
